/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #E0E0E0; /* Cor de fundo desejada */
    margin: 0;
    padding: 0;
    color: green; /* Cor do texto */
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
}


/* Estilo para os campos do formulário */
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para o botão de envio */
form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

/* Estilo para a mensagem de erro */
.error {
    color: red;
    font-weight: bold;
}

/* Estilo para a exibição do endereço */
#endereco {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para o campo de entrada de texto do CEP */
form input[type="text"] {
    width: 200px; /* Defina a largura desejada para o campo de CEP */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}